/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.li-home-ml,
.ml-navbar,
.ml-puzzle-img,
.ml-footer {
  display: none; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fcfcfc; }

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
.li-home-xs {
  position: relative;
  animation: slideInFromTop 0.8s ease-out;
  /* Apply the slide-in effect */ }
  .li-home-xs .ee-banner {
    width: 100%;
    border-radius: 0 0 50px 50px;
    display: block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }
  .li-home-xs .banner-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-size: 1.5rem; }
    .li-home-xs .banner-text .banner-position {
      margin-top: .5em;
      font-size: 1rem; }

.body-wrapper {
  min-height: 115vh;
  background-color: #fcfcfc; }

.home-wrapper .btn-div {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  gap: 10px; }
  .home-wrapper .btn-div .ci-btn,
  .home-wrapper .btn-div .co-btn {
    width: 45%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
    .home-wrapper .btn-div .ci-btn:hover,
    .home-wrapper .btn-div .co-btn:hover {
      opacity: 0.85;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); }
    .home-wrapper .btn-div .ci-btn:active,
    .home-wrapper .btn-div .co-btn:active {
      transform: scale(0.96);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); }
.home-wrapper .home-content {
  margin-top: 1.75em;
  margin-left: 1em;
  margin-right: 1em; }
  .home-wrapper .home-content .hc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75em;
    padding: 0 1em;
    font-size: 1.1rem; }
    .home-wrapper .home-content .hc-header .todayrec-text {
      text-align: left; }
    .home-wrapper .home-content .hc-header .show-all-link {
      text-align: right; }
      .home-wrapper .home-content .hc-header .show-all-link a {
        text-decoration: none;
        color: #4784BF; }
      .home-wrapper .home-content .hc-header .show-all-link a:hover {
        color: #7dacdb;
        font-weight: 700; }
      .home-wrapper .home-content .hc-header .show-all-link a:active {
        color: #7dacdb; }
  .home-wrapper .home-content .hc-main {
    margin-top: 2em; }
    .home-wrapper .home-content .hc-main .hc-table {
      font-size: .8rem;
      width: 100%;
      border-collapse: collapse;
      margin: 0 auto;
      border: 1px solid #ccc; }
      .home-wrapper .home-content .hc-main .hc-table th,
      .home-wrapper .home-content .hc-main .hc-table td {
        border: 1px solid #ddd;
        padding: 5px;
        text-align: center; }
      .home-wrapper .home-content .hc-main .hc-table th {
        background-color: #f4f4f4;
        font-weight: bold; }

.nav-xs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  height: 4em;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -3.5px 5px rgba(0, 0, 0, 0.3); }
  .nav-xs .nav-xs-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%; }

.li-showrec-xs {
  position: relative;
  animation: slideInFromTop 0.8s ease-out;
  /* Apply the slide-in effect */ }
  .li-showrec-xs .banner-rest {
    width: 100%;
    border-radius: 0 0 50px 50px;
    display: block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

.showrec-wrapper .showrec-header {
  margin-top: 2em;
  font-size: 1.5rem;
  text-align: center; }
.showrec-wrapper .sr-filter fieldset {
  border: solid 1px;
  border-radius: 5px;
  border-color: #aaaaaa;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 4% 10px 2em 4%; }
  .showrec-wrapper .sr-filter fieldset form {
    font-size: .8rem; }
    .showrec-wrapper .sr-filter fieldset form input,
    .showrec-wrapper .sr-filter fieldset form select {
      border-radius: 5px; }
    .showrec-wrapper .sr-filter fieldset form select {
      font-size: .75rem; }
    .showrec-wrapper .sr-filter fieldset form input[type="submit"] {
      background-color: #aac864;
      cursor: pointer;
      border: 2px solid #008000;
      margin-bottom: 10px;
      margin-top: 10px; }
.showrec-wrapper .sr-content {
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 3em; }
  .showrec-wrapper .sr-content .sr-table {
    font-size: .8rem;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid #ccc; }
    .showrec-wrapper .sr-content .sr-table th,
    .showrec-wrapper .sr-content .sr-table td {
      border: 1px solid #ddd;
      padding: 5px;
      text-align: center; }
    .showrec-wrapper .sr-content .sr-table th {
      background-color: #f4f4f4;
      font-weight: bold; }

.body-wrapper-admin fieldset {
  border-radius: 20px !important; }
.body-wrapper-admin form {
  margin-bottom: .5em; }
.body-wrapper-admin .empid-div {
  margin-top: .5em; }
  .body-wrapper-admin .empid-div .emp-input-id {
    width: 100px;
    margin-bottom: 3px; }

.body-wrapper-admin {
  min-height: 100vh;
  margin-bottom: 7em; }
  .body-wrapper-admin .emplist-wrapper {
    width: 92%;
    margin: 0 auto; }
    .body-wrapper-admin .emplist-wrapper .el-header {
      margin: 1.5rem 0px;
      font-size: 2rem;
      text-align: center; }
    .body-wrapper-admin .emplist-wrapper .emplist-div {
      display: flex;
      max-width: 320px;
      margin: 1em auto .5em auto; }
      .body-wrapper-admin .emplist-wrapper .emplist-div fieldset {
        display: flex;
        width: 100%;
        border: 2px solid gray;
        background-color: #f5f5f5;
        padding-top: .5em;
        padding-bottom: .5em; }
      .body-wrapper-admin .emplist-wrapper .emplist-div .el-img-div {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: .3em;
        margin-left: .5em;
        margin-bottom: .7em;
        border: 1px solid #898989; }
        .body-wrapper-admin .emplist-wrapper .emplist-div .el-img-div .el-img {
          width: 75px;
          align-items: center;
          margin: 0 0;
          padding: 0 0;
          display: block; }
      .body-wrapper-admin .emplist-wrapper .emplist-div .el-details {
        display: flexbox;
        width: 80%;
        margin-left: .5em;
        text-align: center;
        align-self: center; }
        .body-wrapper-admin .emplist-wrapper .emplist-div .el-details .el-id {
          font-size: 1rem;
          margin-bottom: 5px; }
        .body-wrapper-admin .emplist-wrapper .emplist-div .el-details .el-name {
          font-size: 1.6rem;
          margin-bottom: 3px; }
        .body-wrapper-admin .emplist-wrapper .emplist-div .el-details .el-pos {
          margin-bottom: 10px; }
        .body-wrapper-admin .emplist-wrapper .emplist-div .el-details .el-btn-div {
          display: flex;
          justify-content: space-between; }
          .body-wrapper-admin .emplist-wrapper .emplist-div .el-details .el-btn-div .el-view-container {
            width: 100%;
            height: 40px;
            text-align: center; }
            .body-wrapper-admin .emplist-wrapper .emplist-div .el-details .el-btn-div .el-view-container .el-view-btn {
              height: 40px;
              text-align: center;
              max-width: 100px;
              border-radius: 40px;
              background: #39A869;
              border: 2px solid #39A869;
              color: white;
              letter-spacing: 1px;
              text-shadow: 0;
              align-items: center;
              margin-left: 0em;
              font-size: 12px;
              font-weight: bold;
              cursor: pointer;
              transition: all .5s ease; }
              .body-wrapper-admin .emplist-wrapper .emplist-div .el-details .el-btn-div .el-view-container .el-view-btn:hover {
                color: #39A869;
                background: white; }
              .body-wrapper-admin .emplist-wrapper .emplist-div .el-details .el-btn-div .el-view-container .el-view-btn:active {
                letter-spacing: 2px; }
          .body-wrapper-admin .emplist-wrapper .emplist-div .el-details .el-btn-div .el-del-container {
            text-align: center;
            width: 100%;
            height: 40px; }
            .body-wrapper-admin .emplist-wrapper .emplist-div .el-details .el-btn-div .el-del-container .el-del-btn {
              outline: none;
              height: 40px;
              text-align: center;
              width: 70px;
              border-radius: 40px;
              background: #fcfcfc;
              border: 3px solid #E62143;
              color: #E62143;
              letter-spacing: 1px;
              text-shadow: 0;
              align-items: center;
              font-size: 12px;
              font-weight: bold;
              cursor: pointer;
              transition: all .5s ease; }
              .body-wrapper-admin .emplist-wrapper .emplist-div .el-details .el-btn-div .el-del-container .el-del-btn:hover {
                color: white;
                background: #E62143; }
              .body-wrapper-admin .emplist-wrapper .emplist-div .el-details .el-btn-div .el-del-container .el-del-btn:active {
                letter-spacing: 2px; }

@media only screen and (min-width: 35em) {
  .li-home-xs {
    display: none; }

  .nav-xs {
    display: none; }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9d9d9;
    margin: auto auto; }

  .ml-puzzle-img {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1; }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0; }
    100% {
      transform: translateY(0);
      opacity: 0.4; } }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0; }
    100% {
      transform: translateY(0);
      opacity: 0.4; } }
  .ml-left-puzzle {
    position: absolute;
    top: 25%;
    left: 0%;
    width: 27%;
    /* Adjust as needed */
    opacity: 0.4;
    /* Adjust transparency if needed */
    animation: slideInFromLeft 0.8s ease-out; }

  .ml-right-puzzle {
    position: absolute;
    top: 25%;
    right: -2%;
    width: 29%;
    /* Adjust as needed */
    opacity: 0.5;
    /* Adjust transparency if needed */
    animation: slideInFromRight 0.8s ease-out; }

  .body-wrapper {
    margin: 0 20%;
    min-height: 100vh; }

  .li-home-ml {
    display: flex;
    background-color: #efefef;
    align-items: center;
    flex-wrap: wrap-reverse; }
    .li-home-ml img {
      width: 90px;
      margin: 1em 0.5em 1em 1.5em; }
    .li-home-ml .ml-logo-text {
      display: flex;
      margin-left: 5px;
      align-items: center;
      font-size: 2rem; }
    .li-home-ml .user-container {
      display: flex;
      margin-left: auto;
      margin-bottom: auto;
      flex-shrink: 0; }
      .li-home-ml .user-container .user-pfp {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 35px;
        /* Keep the container fixed */
        height: 35px;
        /* Maintain a square aspect ratio */
        border-radius: 50%; }
        .li-home-ml .user-container .user-pfp img {
          width: 45px;
          align-items: center;
          margin: 0 0;
          padding: 0 0;
          display: block; }
      .li-home-ml .user-container .user-dd {
        margin-top: 10px;
        position: relative;
        width: 75%; }
        .li-home-ml .user-container .user-dd .profile-header {
          list-style: none;
          margin: 0;
          padding: 0; }
          .li-home-ml .user-container .user-dd .profile-header .profile-dropdown {
            position: relative;
            cursor: pointer; }
            .li-home-ml .user-container .user-dd .profile-header .profile-dropdown a {
              text-decoration: none;
              color: black;
              padding: 2px 3px;
              display: inline-block;
              border-radius: 5px;
              transition: 0.3s;
              text-overflow: ellipsis; }
            .li-home-ml .user-container .user-dd .profile-header .profile-dropdown:hover .profile-dd {
              display: block; }
            .li-home-ml .user-container .user-dd .profile-header .profile-dropdown .profile-dd {
              display: none;
              position: absolute;
              right: 0;
              background: #fafafa;
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
              border-radius: 5px;
              list-style: none;
              padding: 3px;
              font-size: .85rem; }
              .li-home-ml .user-container .user-dd .profile-header .profile-dropdown .profile-dd li {
                padding: 2px 3px;
                border-bottom: 1px solid #ddd; }
                .li-home-ml .user-container .user-dd .profile-header .profile-dropdown .profile-dd li:last-child {
                  border-bottom: none; }
                .li-home-ml .user-container .user-dd .profile-header .profile-dropdown .profile-dd li a {
                  color: black;
                  text-decoration: none;
                  display: block; }
                  .li-home-ml .user-container .user-dd .profile-header .profile-dropdown .profile-dd li a:hover {
                    background: #f0f0f0; }

  .ml-navbar {
    background-color: #e4e4e4;
    display: block;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
    .ml-navbar .ml-nav-ul {
      display: flex;
      gap: 20px;
      padding: 10px 0;
      list-style: none !important; }
    .ml-navbar .ml-nav-ul li {
      display: inline-block; }
    .ml-navbar .ml-nav-ul li:first-child {
      margin-left: 2em; }
    .ml-navbar .ml-nav-ul li a {
      text-decoration: none;
      color: black;
      padding: 10px 15px;
      /* Add padding for a better clickable area */
      transition: color 0.3s ease-in-out; }
    .ml-navbar .ml-nav-ul li a:hover {
      color: #4784BF;
      /* Change color on hover */ }

  .home-wrapper {
    margin-top: 0;
    padding-top: 2.5em; }
    .home-wrapper .btn-div {
      margin-top: 0; }

  .ml-footer {
    display: block;
    background-color: #4784bf;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center; }
    .ml-footer p,
    .ml-footer a {
      color: white;
      text-decoration: none; }

  .li-showrec-xs {
    display: none; }

  .sr-filter fieldset {
    display: flex;
    justify-content: center; }
    .sr-filter fieldset select {
      margin-right: .25em; }

  .body-wrapper-admin {
    max-width: 700px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    padding-bottom: 4em; }

  .emplist-wrapper {
    width: 95% !important; }
    .emplist-wrapper .elist-container {
      width: 100%; }
      .emplist-wrapper .elist-container .emplist-div {
        float: left;
        width: 48%;
        margin: 5px; } }
@media only screen and (min-width: 64em) {
  .btn-div {
    gap: 3em !important; }
    .btn-div .ci-btn,
    .btn-div .co-btn {
      width: 30% !important; }

  .home-content {
    width: 70%;
    margin: 0 auto !important; }

  .ml-left-puzzle {
    top: 10%;
    width: 25%;
    animation: slideInFromLeft 0.8s ease-out; }

  .ml-right-puzzle {
    position: absolute;
    top: 10%;
    animation: slideInFromRight 0.8s ease-out; }

  .body-wrapper {
    margin: 0 auto;
    width: 700px; }

  .sr-filter {
    width: 80%;
    margin: 0 auto; }
    .sr-filter fieldset {
      padding: .25em 0; }
      .sr-filter fieldset select {
        margin-right: 3em;
        margin-bottom: 2px; }

  .body-wrapper-admin {
    max-width: 800px; }

  .elist-container {
    justify-content: center;
    width: 100%; }
    .elist-container .emplist-div {
      max-width: 400px !important; }
      .elist-container .emplist-div .el-view-btn {
        width: 70% !important;
        max-width: 70% !important; } }
