// ------------ MAIN PAGE -------------- //
.btn-div {
    gap: 3em !important;

    .ci-btn,
    .co-btn {
        width: 30% !important;
    }
}

.home-content {
    width: 70%;
    margin: 0 auto !important;
}

.ml-left-puzzle {
    top: 10%;
    width: 25%;
    animation: slideInFromLeft 0.8s ease-out
}

.ml-right-puzzle {
    position: absolute;
    top: 10%;
    animation: slideInFromRight 0.8s ease-out
}

// ------------- END OF MAIN PAGE -----------//
//-------------------------------------------//
//-------------SHOW RECORD PAGE--------------//

.body-wrapper {
    margin: 0 auto;
    width: 700px;

}

.sr-filter {
    width: 80%;
    margin: 0 auto;

    fieldset {
        padding: .25em 0;

        select {
            margin-right: 3em;
            margin-bottom: 2px;
        }
    }
}

//-----------END SHOW RECORD PAGE-------------//
//--------------------------------------------//
//------------ADMIN REC LIST------------------//

.body-wrapper-admin {
    max-width: 800px;
}

//--------------END ADMIN REC LIST---------------//
//---------------------------------------------//
//---------------EMPLOYEE LIST-----------------//

.elist-container {
    justify-content: center;
    width: 100%;

    .emplist-div {
        max-width: 400px !important;

        .el-view-btn {
            width: 70% !important;
            max-width: 70% !important;
        }
    }
}