/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// ---------MAIN PAGE----------- //

.li-home-ml,
.ml-navbar,
.ml-puzzle-img,
.ml-footer {
	display: none;
}

body {
	font-family: $defaultFont;
	background-color: #fcfcfc;
}

@keyframes slideInFromTop {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.li-home-xs {
	position: relative;
	animation: slideInFromTop 0.8s ease-out;


	.ee-banner {
		width: 100%;
		border-radius: 0 0 50px 50px;
		display: block;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	}

	.banner-text {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: rgb(0, 0, 0);
		font-size: 1.5rem;

		.banner-position {
			margin-top: .5em;
			font-size: 1rem;
		}
	}
}

.body-wrapper {
	min-height: 115vh;
	background-color: #fcfcfc;
}

.home-wrapper {
	.time-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2px;
		background-color: rgba(239, 239, 239, 1);
		padding: 8px 12px;
		border-radius: 8px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
		font-family: 'Arial', sans-serif;
		margin: 1em auto;
		width: 65%;
	}

	.real-time-date {
		font-size: .85rem;
		font-weight: 600;
		color: #000000;
		letter-spacing: 0.5px;
		margin-bottom: 3px;
	}

	.real-time-clock {
		font-size: 2.3rem;
		color: #000000;
	}

	.btn-div {
		margin-top: 1.5em;
		display: flex;
		justify-content: center;
		gap: 10px;
		width: 90%;
		margin: 0 auto;

		.cico-btn {
			border: none;
			background-color: rgba(239, 239, 239, 0);
		}

		.ci-btn,
		.co-btn {
			width: 100%;
			border-radius: 20px;
			border: none;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

			&:hover {
				opacity: 0.85;
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
			}

			&:active {
				transform: scale(0.96);
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
			}
		}

	}

	.home-content {
		margin-top: 1.75em;
		margin-left: 1em;
		margin-right: 1em;

		.hc-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 1.75em;
			padding: 0 1em;
			font-size: 1.1rem;

			.todayrec-text {
				text-align: left;
			}

			.show-all-link {
				text-align: right;

				a {
					text-decoration: none;
					color: #4784BF;
				}

				a:hover {
					color: #7dacdb;
					font-weight: 700;
				}

				a:active {
					color: #7dacdb;
				}
			}
		}

		.hc-main {
			margin-top: 2em;

			.hc-table {
				font-size: .8rem;
				width: 100%;
				border-collapse: collapse;
				margin: 0 auto;
				border: 1px solid #ccc;

				th,
				td {
					border: 1px solid #ddd;
					padding: 5px;
					text-align: center;
				}

				th {
					background-color: #f4f4f4;
					font-weight: bold;
				}
			}
		}
	}
}

.more-opt-btn {
	border: none;
}

.navmore-container {
	width: 100%;
	background-color: rgba(100, 100, 100, 0.95);
	bottom: 0;
	position: fixed;
	height: 100%;
	vertical-align: middle;
	color: white;

	.close-nmcontainer {
		display: flex;
		justify-content: end;
		margin-right: .5em;
		padding: .5em;
		margin-top: .5em;
		font-size: 1.4rem;
	}



	.navmorelist {
		margin: 1em 0px 0px 0px;
		font-size: 1.75rem;
		text-decoration: none;
		list-style: none;
		vertical-align: middle;

		li {
			background-color: lighten(rgba(192, 192, 192, 0.10), 10%);
			border-top: 1px solid lighten(rgba(192, 192, 192, 0.1), 10%);
			border-bottom: lighten(rgba(192, 192, 192, 0.10), 10%);
		}

		li:active {
			background-color: lighten(rgba(192, 192, 192, 0.25), 10%);
		}

		a {
			text-decoration: none;
			color: lighten($blue, 35%);
			vertical-align: middle;
		}

		.myrec-list {
			margin-bottom: 20px;
			padding-left: 1em;
		}

		.navadmin-list {
			list-style: none;
			padding-left: 50px;

			h1 {
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 10px;
			}

			li {
				// background-color: lighten(rgba(192, 192, 192, 0.90), 15%);
				padding-left: 30px;
				padding-bottom: 5px;
				padding-top: 5px;
			}
		}
	}
}

.nav-xs {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #efefef;
	height: 4em;
	position: fixed;
	bottom: 0;
	width: 100%;
	box-shadow: 0 -3.5px 5px rgba(0, 0, 0, 0.3);

	.nav-xs-icons {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 90%; // Adjust this based on your layout needs
	}
}

/* MODAL STYLES */
.home-modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content {
	background: white;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	text-align: center;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	position: relative;
}

.modal-content h2 {
	margin-bottom: 15px;
}

.modal-content label {
	display: block;
	text-align: left;
	margin: 5px 0;
}

.modal-content input {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.modal-content input[type=submit] {
	width: 100%;
	padding: 10px;
	background-color: #4784BF;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
}

.modal-content input[type=submit]:hover {
	background-color: #7dacdb;
}

.close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
}

// ------------END MAIN PAGE-------------- //

// ---------------------------------------//

// ----------SHOW RECORD PAGE------------- //

.li-showrec-xs {
	position: relative;
	animation: slideInFromTop 0.8s ease-out;

	.banner-rest {
		width: 100%;
		border-radius: 0 0 50px 50px;
		display: block; // Ensures no extra space below the image
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	}
}

.showrec-wrapper {
	.showrec-header {
		margin-top: 2em;
		font-size: 1.5rem;
		text-align: center;
	}

	.sr-filter {
		fieldset {
			border: solid 1px;
			border-radius: 5px;
			border-color: rgb(170, 170, 170);
			text-align: center;
			padding-top: 3px;
			padding-bottom: 3px;
			margin: 4% 10px 1em 4%;

			form {
				font-size: .8rem;

				input,
				select {
					border-radius: 5px;
				}

				select {
					font-size: .75rem;
				}

				input[type="submit"] {
					display: inline-block;
					cursor: pointer;
					font-size: .7rem;
					border-radius: 12px;
					border: 1px solid transparent;
					letter-spacing: 1px;
					min-width: 12px;
					// text-transform: uppercase;
					white-space: normal;
					font-weight: 700;
					text-align: center;
					padding: 5px 7px;
					color: #fff;
					background-color: $green;
					margin-bottom: 3px;

					&:hover {
						background-color: $blue;
						color: #fff;
					}
				}
			}
		}
	}

	.sr-content {
		margin-left: 4%;
		margin-right: 4%;
		padding-bottom: 3em;

		.sr-table {
			font-size: .8rem;
			width: 100%;
			border-collapse: collapse;
			margin: 0 auto;
			border: 1px solid #a1a1a1;

			.emp-id-table {
				margin-left: 10px;
				margin-right: 10px;
			}

			th,
			td {
				border: 1px solid #bbbbbb;
				padding-top: 5px;
				padding-bottom: 5px;
				text-align: center;
				vertical-align: middle;
			}

			th {
				background-color: #f4f4f4;
				font-weight: bold;
			}

			td {
				.rec-btn-div {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 100%;
				}

				.edit-rec-btn {
					display: inline-block;
					cursor: pointer;
					font-size: .7rem;
					border: 1px solid transparent;
					letter-spacing: 1px;
					width: 100%;
					text-transform: uppercase;
					white-space: normal;
					font-weight: 700;
					text-align: center;
					padding: 6px 7px;
					color: #fff;
					background-color: #15883e;

					&:hover {
						background-color: #1db954;
					}
				}

				.del-rec-btn {
					display: inline-block;
					cursor: pointer;
					border: 1px solid transparent;
					letter-spacing: 1px;
					width: 100%;
					text-transform: uppercase;
					white-space: normal;
					font-weight: 700;
					text-align: center;
					padding: 2px 6px;
					color: #fff;
					background-color: darken($red, 5%);
					margin-top: 1px;
					margin-bottom: 2px;

					&:hover {
						background-color: lighten($red, 7%);
					}

					span {
						font-size: 1.2rem;
						vertical-align: center;
					}
				}
			}
		}
	}
}

//-----------END SHOW RECORD PAGE-------------//
//--------------------------------------------//
//------------ADMIN REC LIST------------------//

.body-wrapper-admin {

	fieldset {
		border-radius: 20px !important;
	}

	form {
		margin-bottom: .5em;
	}

	.empid-div {
		margin-top: .5em;

		.emp-input-id {
			width: 100px;
			margin-bottom: 3px;
		}
	}
}

.sr-addtime-div {
	margin-left: 4%;
	margin-bottom: 1em;

	.sr-addtime-btn {
		height: 30px;
		text-align: center;
		max-width: 110px;
		border-radius: 40px;
		background: darken($blue, 10%);
		border: 2px solid darken($blue, 10%);
		color: white;
		letter-spacing: 1px;
		text-shadow: 0;
		align-items: center;
		padding: 5px 10px;


		font: {
			size: 1rem;
			// weight: bold;
		}

		cursor: pointer;
		transition: all .5s ease;

		&:hover {
			color: white;
			background: $blue;
		}

		&:active {
			letter-spacing: 2px;
		}

	}
}

/* MODAL STYLES */
.edmodal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.ed-modal-content {
	background: white;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	text-align: left;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	position: relative;
}

.er-empname {
	font-size: 1.4rem !important;
	margin-bottom: 10px;
}

.ed-modal-content h2 {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 1.2rem;
	text-align: center;
}

.ed-modal-content label {
	display: block;
	text-align: left;
	font-size: .9rem;
}

.ti-guide {
	color: $gray;
	font-size: .75rem;
}

.ti-date {
	text-align: left;
	margin-top: 5px;
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.ed-modal-content input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
	appearance: none;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 12px;
}

.ed-modal-content input[type=submit] {
	margin-top: 1.5em;
	width: 90%;
	padding: 10px;
	background-color: $blue;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
}

.ed-modal-content input[type=submit]:hover {
	background-color: #7dacdb;
}

.addmodal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.addmodal-content {
	background: white;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	text-align: left;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	position: relative;
}

.addmodal-content h2 {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 1.2rem;
}

.addmodal-content label {
	display: block;
	text-align: left;
	font-size: .9rem;
}

.addmodal-content {

	input[type=number],
	input[type=date],
	select {
		-moz-appearance: textfield;
		-webkit-appearance: none;
		appearance: none;
		padding: 8px;
		margin-bottom: 15px;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin-top: 12px;
	}

}

.addmodal-content input[type=submit] {
	margin-top: 1.5em;
	width: 100%;
	padding: 10px;
	background-color: $blue;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
}

.addmodal-content input[type=submit]:hover {
	background-color: #7dacdb;
}

.close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
}

//------------END ADMIN REC LIST--------------//
//--------------------------------------------//
//---------------EMPLOYEE LIST----------------//

.body-wrapper-admin {
	min-height: 100vh;
	margin-bottom: 7em;

	.emplist-wrapper {
		width: 92%;
		margin: 0 auto;

		.el-header {
			margin: 1.5rem 0px;
			font-size: 2rem;
			text-align: center;
		}

		.emplist-div {
			display: flex;
			max-width: 320px;
			margin: 1em auto .5em auto;

			fieldset {
				display: flex;
				width: 100%;
				border: 2px solid gray;
				background-color: #f5f5f5;
				padding-top: .5em;
				padding-bottom: .5em;

			}

			.el-img-div {
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				margin-top: .3em;
				margin-left: .5em;
				margin-bottom: .7em;
				border: 1px solid darken(#efefef, 40%);

				.el-img {
					width: 75px;
					align-items: center;
					margin: 0 0;
					padding: 0 0;
					display: block;
				}
			}

			.el-details {
				display: flexbox;
				width: 80%;
				margin-left: .5em;
				text-align: center;
				align-self: center;

				.el-id {
					font-size: 1rem;
					margin-bottom: 5px;
				}

				.el-name {
					font-size: 1.6rem;
					margin-bottom: 3px;
				}

				.el-pos {
					margin-bottom: 10px;
				}

				.el-btn-div {
					display: flex;
					justify-content: space-between;

					.el-view-container {
						width: 100%;
						height: 40px;
						text-align: center;

						.el-view-btn {
							height: 40px;
							text-align: center;
							max-width: 100px;
							border-radius: 40px;
							background: darken($green, 10%);
							border: 2px solid darken($green, 10%);
							color: white;
							letter-spacing: 1px;
							text-shadow: 0;
							align-items: center;
							margin-left: 0em;


							font: {
								size: 12px;
								weight: bold;
							}

							cursor: pointer;
							transition: all .5s ease;

							&:hover {
								color: white;
								background: $green;
							}

							&:active {
								letter-spacing: 2px;
							}
						}
					}

					.el-del-container {
						text-align: center;
						width: 100%;
						height: 40px;

						.el-del-btn {
							outline: none;
							height: 40px;
							text-align: center;
							width: 70px;
							border-radius: 40px;
							background: #fcfcfc;
							border: 3px solid $red;
							color: $red;
							letter-spacing: 1px;
							text-shadow: 0;
							align-items: center;

							font: {
								size: 12px;
								weight: bold;
							}

							cursor: pointer;
							transition: all .5s ease;

							&:hover {
								color: white;
								background: $red;
							}

							&:active {
								letter-spacing: 2px;
							}
						}
					}
				}
			}
		}
	}
}

//--------------END EMPLOYEE LIST-------------//
//--------------------------------------------//
//--------------ADD EMPLOYEE------------------//

.addemp-wrapper {
	margin: 15px;

	.addemp-header {
		font-size: 2rem;
		text-align: center;
		margin: .7em 0;
	}

	fieldset {
		display: flex;
		width: 100%;
		border: 2px solid gray;
		// background-color: #f5f5f5;
		padding-top: .5em;
		padding-bottom: .5em;
		max-width: 440px;

		form {
			margin: 0 1rem;

			input[type=text],
			input[type=date],
			input[type=email],
			input[type=password],
			input[type=number],
			textarea {
				width: 100%;
				padding: 12px;
				border: 1px solid $gray;
				border-radius: 8px;
				box-sizing: border-box;
				margin-top: 6px;
				margin-bottom: 16px;
				resize: none;
				font-size: 1rem;
			}

			.ae-img-div {
				margin: 1em auto;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				width: 200px;
				height: 200px;
				border-radius: 50%;
				border: 1px solid darken(#efefef, 40%);

				.ae-img {
					width: 250px;
					align-items: center;
					margin: 0 0;
					padding: 0 0;
					display: block;
				}
			}

			.ae-file {
				margin: 10px auto;
				margin-bottom: 1rem;
				background-color: lighten($blue, 45%);
				border-radius: 2rem;

				&::file-selector-button {
					padding: .5rem .5rem;
					border-width: 0;
					border-radius: 2rem;
					background-color: darken($blue, 10%);
					color: white;
					transition: all .25s ease-in-out;
					cursor: pointer;
					margin-right: 1em;
				}

				&:hover {
					border-color: #888;

					&::file-selector-button {
						background-color: lighten($blue, 10%);
					}
				}
			}

			.ae-upload-div {
				text-align: center;
			}

			.ae-submit {
				display: inline-block;
				cursor: pointer;
				font-size: .7rem;
				border-radius: 20px;
				border: 1px solid transparent;
				letter-spacing: 1px;
				width: 100%;
				text-transform: uppercase;
				white-space: normal;
				font-weight: 700;
				text-align: center;
				padding: 11px 7px;
				color: #fff;
				background-color: $blue;
				margin-bottom: 15px;
				margin-top: 20px;

				&:hover {
					background-color: lighten($blue, 10%);
				}
			}
		}
	}
}